*{
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #3B3D44;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 20%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

.escola-imagem{
    width: 40%;
}

#escola{
    background-color: #414B64;
       color: antiquewhite;
    display:flex;
    justify-content:center;
        align-items: center;
        padding: 50px 50px;
        font-family: 'KoHo', sans-serif;
}

#escola-div-conteudo{
    width: 80%;
}

.escola-titulo{
    padding: 24px 0;
    font-family: 'Kavoon';
}

.estudante-imagem{
    width: 230px;
}

.estudante-div{
    text-align: center;
    font-family: 'Koh Santepheap';
padding: 20px 0;
background-color: #8490B8;
color: antiquewhite;
}

.estudante-titulo{
    text-align: center;
    padding: 24px 0;
    font-family: 'Kavoon';
    background-color: #8490B8;
    color:#33364E;
}

.rodape{
    background-color: #3B3D44;
    text-align: center;
}

.rodape-imagem{
    height: 60px;
    padding: 12px 0;
}

